@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply items-center justify-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply items-center justify-center;
  }

  .space-between {
    @apply justify-between;
  }
}

@layer base {
  :root {
    --gray-950: 240deg 5.9% 9%;
    --gray-900: 240deg 5.9% 12%;
    --gray-850: 240deg 5.9% 13%;
    --gray-800: 240deg 5.9% 19%;
    --gray-750: 240deg 5.9% 23%;
    --gray-700: 240deg 5.9% 32%;
    --gray-600: 240deg 5.9% 39%;
    --gray-500: 240deg 5.9% 48%;
    --gray-400: 240deg 5.9% 60%;
    --gray-300: 240deg 5.9% 74%;
    --gray-200: 240deg 5.9% 86%;
    --gray-100: 240deg 6% 94%;
    --gray-50: 240deg 7% 97%;

    --background: var(--gray-950);
    --foreground: var(--primary);
    --primary: var(--gray-200);
    --primary-foreground: var(--gray-950);
    --secondary: var(--gray-850);
    --secondary-foreground: var(--primary);
    --accent: var(--gray-800);
    --accent-foreground: var(--primary);
    --brand: 142.1 70.6% 45.3%;
    --brand-foreground: var(--gray-950);
    --muted: var(--gray-600);
    --muted-foreground: var(--gray-400);
    --popover: var(--gray-950);
    --popover-foreground: var(--primary);
    --card: var(--gray-900);
    --card-foreground: var(--primary);
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: var(--primary);
    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;
    --border: var(--gray-800);
    --input: var(--secondary);
    --ring: var(--gray-300);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }

  body {
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .ligatures-none {
    font-variant-ligatures: none;
  }

  .ligatures-common {
    font-variant-ligatures: common;
  }
  .ligatures-discretionary {
    font-variant-ligatures: discretionary;
  }
  .ligatures-historical {
    font-variant-ligatures: historical;
  }
  .ligatures-contextual {
    font-variant-ligatures: contextual;
  }

  .ligatures-no-common {
    font-variant-ligatures: no-common;
  }
  .ligatures-no-discretionary {
    font-variant-ligatures: no-discretionary;
  }
  .ligatures-no-historical {
    font-variant-ligatures: no-historical;
  }
  .ligatures-no-contextual {
    font-variant-ligatures: no-contextual;
  }

  .text-balance {
    text-wrap: balance;
  }
}

li {
  list-style: unset;
}

ul {
  list-style: unset;
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--muted));
  border-radius: 8px;
  border: 4px solid hsl(var(--primary-foreground));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary) / 0.2);
}

[contentEditable]:empty:not(:focus):before {
  content: attr(placeholder);
}

[contentEditable]:empty:before {
  content: attr(placeholder);
  color: hsl(var(--muted));
  pointer-events: none;
}

[contentEditable] {
  /* position: relative; */
  word-wrap: break-word;
  word-break: break-all;
  -webkit-user-modify: read-write-plaintext-only;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
